In [1]:
import pandas as pd
import numpy as np

In [2]:
scores = [34, 36, 36, 38, 38, 39, 39, 40, 40, 41, 41, 41, 41, 42, 42, 45, 49, 56]
df = pd.DataFrame(scores, columns=['Scores'])
df.head(5)

   Scores
0      34
1      36
2      36
3      38
4      38

In [3]:
df['Scores'].mean()

41.0

In [4]:
df['Scores'].median()

40.5

In [5]:
df['Scores'].var()

25.529411764705884

In [6]:
df['Scores'].std()

5.05266382858645