In [1]:
import pandas as pd
import numpy as np

In [2]:
df= pd.read_csv(r'D:\DATA Science\Cars.csv')
df.head(5)

   HP        MPG  VOL          SP         WT
0  49  53.700681   89  104.185353  28.762059
1  55  50.013401   92  105.461264  30.466833
2  55  50.013401   92  105.461264  30.193597
3  70  45.696322   92  113.461264  30.632114
4  53  50.504232   92  104.461264  29.889149

In [3]:
N=len(df['MPG'])
N

81

In [4]:
# Let A is  P(MPG>38)
A=(df['MPG']>38)
A.head(5)

0    True
1    True
2    True
3    True
4    True
Name: MPG, dtype: bool

In [5]:
Prob_A=(A==True).sum()/N
Prob_A

0.4074074074074074

In [6]:
# let B is P(MPG<40)
B=(df['MPG']<40)
Prob_B=(B==True).sum()/N
Prob_B

0.7530864197530864

In [7]:
# Let C is P(20<MPG<50)
C=(df['MPG']>20) & (df['MPG']<50)
Prob_C=(C==True).sum()/N
Prob_C

0.8518518518518519