In [1]:
'''TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences
'''

'TeleCall uses 4 centers around the globe to process customer order forms. They audit a certain %  of the customer order forms. Any error in order form renders it defective and has to be reworked before processing.  The manager wants to check whether the defective %  varies by centre. Please analyze the data at 5% significance level and help the manager draw appropriate inferences\n'

In [2]:
print(' We are going to conduct a Test of Independence using Chi-Square x2 test with Contingency table \n We need to check whether the mean of any of these samples are different or the same?')

 We are going to conduct a Test of Independence using Chi-Square x2 test with Contingency table
 We need to check whether the mean of any of these samples are different or the same?

In [3]:
print(' Step 1: \n Make two Hypothesis one contradicting to other \n Null Hypothesis is want we want to prove \n Null Hypothesis: u1=u2=u3=u4 \n Alternative Hypthosis: Atleast One of them is Differente ')

 Step 1:
 Make two Hypothesis one contradicting to other
 Null Hypothesis is want we want to prove
 Null Hypothesis: u1=u2=u3=u4
 Alternative Hypthosis: Atleast One of them is Differente

In [4]:
print(' Step 2: \n Decide a cut-off value \n Significance 5% \n alpha = 0.05 \n  \n \n Step 3: \n Collect evidence \n Importing Files')

 Step 2:
 Decide a cut-off value
 Significance 5%
 alpha = 0.05


 Step 3:
 Collect evidence
 Importing Files

In [5]:
import scipy.stats as stats
import statsmodels.api as sm
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from PIL import ImageGrab
import matplotlib.pyplot as plt
import seaborn as sns

In [7]:
centers = pd.read_csv(r'C:\Users\pv437\Desktop\Data Scince Folder\assignment\assignment downloads\ass3\Costomer+OrderForm.csv')
centers.head(10)

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free
5   Error Free  Error Free  Error Free  Error Free
6   Error Free   Defective  Error Free  Error Free
7   Error Free  Error Free  Error Free  Error Free
8   Error Free  Error Free  Error Free  Error Free
9   Error Free  Error Free  Error Free  Error Free

In [8]:
'''Applying Descriptive Statistics'''
centers.describe()

       Phillippines   Indonesia       Malta       India
count           300         300         300         300
unique            2           2           2           2
top      Error Free  Error Free  Error Free  Error Free
freq            271         267         269         280

In [9]:
'''Checking for Null Values'''
centers.isnull().sum()

Phillippines    0
Indonesia       0
Malta           0
India           0
dtype: int64

In [10]:
centers[centers.isnull().any(axis=1)]

Empty DataFrame
Columns: [Phillippines, Indonesia, Malta, India]
Index: []

In [11]:
'''Checking the data type'''
centers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Phillippines  300 non-null    object
 1   Indonesia     300 non-null    object
 2   Malta         300 non-null    object
 3   India         300 non-null    object
dtypes: object(4)
memory usage: 9.5+ KB

In [13]:
'''Checking value counts in data'''
print(centers['Phillippines'].value_counts(),'\n',centers['Indonesia'].value_counts(),'\n',centers['Malta'].value_counts(),'\n',centers['India'].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
 Error Free    267
Defective      33
Name: Indonesia, dtype: int64
 Error Free    269
Defective      31
Name: Malta, dtype: int64
 Error Free    280
Defective      20
Name: India, dtype: int64

In [15]:
'''Creating Contingency table'''
contingency_table = [[271,267,269,280],[29,33,31,20]]
print(contingency_table)

[[271, 267, 269, 280], [29, 33, 31, 20]]

In [16]:
'''Calculating Expected Values for Observed data'''
stat, p, df, exp = stats.chi2_contingency(contingency_table)
print("Statistics = ",stat,"\n",'P_Value = ', p,'\n', 'degree of freedom =', df,'\n', 'Expected Values = ', exp)

Statistics =  3.858960685820355
 P_Value =  0.2771020991233135
 degree of freedom = 3
 Expected Values =  [[271.75 271.75 271.75 271.75]
 [ 28.25  28.25  28.25  28.25]]

In [17]:
'''Defining Expected values and observed values'''
observed = np.array([271, 267, 269, 280, 29, 33, 31, 20])
expected = np.array([271.75, 271.75, 271.75, 271.75, 28.25, 28.25, 28.25, 28.25])

In [18]:
print(' Step 4: \n Compare Evidences with Hypothesis using t-statictic \n ')

 Step 4:
 Compare Evidences with Hypothesis using t-statictic

In [19]:
test_statistic , p_value = stats.chisquare(observed, expected, ddof = df)
print("Test Statistic = ",test_statistic,'\n', 'p_value =',p_value)

Test Statistic =  3.858960685820355
 p_value = 0.4254298144535761

In [20]:
print(' Plotting the data \n Compare p_value with alpha (Significane Level)  \n If p_value is !=alpha  we failed to reject Null Hypothesis because of lack of evidence \n If p_value is =alpha we reject Null Hypothesis \n interpreting p-value ')

 Plotting the data
 Compare p_value with alpha (Significane Level)
 If p_value is !=alpha  we failed to reject Null Hypothesis because of lack of evidence
 If p_value is =alpha we reject Null Hypothesis
 interpreting p-value

In [21]:
alpha = 0.05
print('Significnace=%.3f, p=%.3f' % (alpha, p_value))
if p_value <= alpha:
    print('We reject Null Hypothesis there is a significance difference between TAT of reports of the laboratories')
else:
    print('We fail to reject Null hypothesis')

Significnace=0.050, p=0.425
We fail to reject Null hypothesis

In [22]:
'''We fail to reject Null Hypothesis because of lack of evidence.'''

'We fail to reject Null Hypothesis because of lack of evidence.'